@{
    ViewBag.Title = "ListCategories";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-body p-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h5 class="card-title fw-600 mb-4">Danh sách thể loại</h5>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <input class="form-control" placeholder="Tìm kiếm ..." id="searchCategory" />
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-post text-nowrap mb-0 align-middle">
                            <thead class="text-dark fs-4">
                                <tr>
                                    <th class="">
                                        <h6 class="fw-600 mb-0">Id</h6>
                                    </th>
                                    <th class="">
                                        <h6 class="fw-600 mb-0">Thể loại phim</h6>
                                    </th>
                                    <th class="">
                                        <h6 class="fw-600 mb-0">Lệnh</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="table_categories"></tbody>
                        </table>
                        <div id="messageNotFind" style="margin:auto;display:none; text-align:center;">Không tìm thấy</div>
                    </div>
                    <div id="loading" class=" m-auto  mt-4"></div>
                </div>
                <div class="card-tools p-5 pt-0 pb-0 m-auto" id="pagination"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Thể loại phim</h5>
                    <div class="card">
                        <div class="card-body">
                            <form id="form_category" method="post">
                                @Html.AntiForgeryToken()
                                <div class="mb-3">
                                    <label class="form-label">Mã</label>
                                    <input class="form-control" id="idCategory" disabled />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tên thể loại</label>
                                    <input class="form-control" id="nameCategory" />
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ghi chú</label>
                                    <textarea class="form-control" id="noteCategory"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Lưu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        var elementTable = $("#table_categories");
        var ms = document.getElementById('messageNotFind');
        $(document).ready(function () {
            Insert();
            loadData("", null, 5);
            $("#searchCategory").on("keyup", function (event) {
                var keyword = $('#searchCategory').val();
                loadData(keyword, null, 5);
            });
        });
        function loadData(keyword, page, pageSize) {
            ShowLoading(true);
            $.ajax({
                url: '@Url.Action("LoadData","CategoryMovie")',
                type: 'GET',
                dataType: 'json',
                data: { keyword: keyword, page: page, pageSize: pageSize },
                success: function (response) {
                    if (response.status) {
                        ShowLoading(false)
                        elementTable.empty();
                        $.each(response.Data, function (index, category) {
                            elementTable.append(`<tr>
                                    <td><h6 class="fw-600 mb-0">${category.sttTheLoai}</h6></td>
                                    <td><h6 class="fw-600 mb-1">${category.tenTheLoai}</h6></td>
                                    <td><button type="button" class="btn btn-primary" onclick="EditCategory(${category.sttTheLoai})">Sửa</button>
                                    <button type="button" class="btn btn-danger m-1" onclick="DeleteCategory(${category.sttTheLoai})">Xóa</button></td>
                                </tr>`);
                        });
                        ms.style.display = "none"
                        if ((keyword.length > 0) && response.NumberPage == 0 && response.TotalItem == 0) ms.style.display = "block"
                        Pagination(keyword, response.CurrentPage, response.NumberPage, response.PageSize);
                    } else {
                        alert(response.message)
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }
        function Insert() {
            $('#form_category').submit(function (e) {
                e.preventDefault();
                var category = {
                    sttTheLoai: $("#idCategory").val(),
                    tenTheLoai: $("#nameCategory").val(),
                    ghiChu: $("#noteCategory").val()
                };
                var token = $('input[name="__RequestVerificationToken"]').val(); 
                if (category.tenTheLoai != null) {
                    $.ajax({
                        url: '@Url.Action("Add","CategoryMovie")',
                        type: 'POST',
                        data: { category: category, __RequestVerificationToken:token},
                        success: function (response) {
                            if (response.status) {
                                Swal.fire({
                                    position: "center-center",
                                    icon: "success",
                                    title: response.message,
                                    showConfirmButton: true,
                                    timer: 1500
                                }).then((result) => {
                                    if (result.dismiss === Swal.DismissReason.timer || result.isConfirmed) {
                                        location.reload(true);
                                    }
                                });
                            } else {
                                Swal.fire({
                                    position: "center-center",
                                    icon: "error",
                                    title: response.message,
                                    showConfirmButton: true,
                                    timer: 1500
                                }).then((result) => {
                                    if (result.dismiss === Swal.DismissReason.timer || result.isConfirmed) {
                                        location.reload(true);
                                    }
                                });
                            }
                        },
                        error: function () {
                            alert('Đã xảy ra lỗi khi thêm sản phẩm.');
                        }
                    });
                }
            });
        }
        function EditCategory(id) {
            $.ajax({
                url: '@Url.Action("Edit","CategoryMovie")',
                type: 'GET',
                dataType: 'json',
                data: { id: id },
                success: function (data) {
                    $('#idCategory').val(data.data.sttTheLoai);
                    $('#nameCategory').val(data.data.tenTheLoai);
                    $('#noteCategory').val(data.data.ghiChu);
                },
                error: function (error) {
                    console.error(error);
                }
            });
        }
        function DeleteCategory(idCategory) {
            Swal.fire({
                title: "Bạn chắc chắn?",
                text: "Bạn sẽ không thể khôi phục khi đã xóa",
                icon: "warning",
                showCancelButton: true,
                cancelButtonColor: "#d33",
                cancelButtonText: "Đóng",
                confirmButtonColor: "#3085d6",
                confirmButtonText: "Xóa thể loại"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("Delete","CategoryMovie")',
                        type: 'POST',
                        data: { idCategory: idCategory },
                        success: function (response) {
                            if (response.status) {
                                Swal.fire({
                                    position: "center-center",
                                    icon: "success",
                                    title: response.message,
                                    showConfirmButton: true,
                                    timer: 1500
                                }).then((result) => {
                                    if (result.dismiss === Swal.DismissReason.timer || result.isConfirmed) {
                                        location.reload(true);
                                    }
                                });

                            } else {
                                console.log("Xóa sản phẩm không thành công.");
                            }
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                }
            });
        }
    </script>
}
